{% extends "people/base.html" %}
{% load static %}

{% block content %}
<h3>{{ view.message }}</h3>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}
    <div class="buttons">
        <button class="btn-submit" type="submit">Save</button>
        <button class="btn-get-name" type="button">Generate Name</button>
        {% if view.type_form != 'new' %}
        <button data-id_person="{{ object.id }}" class="btn-delete" type="button">Delete</button>
        {% endif %}

    </div>
</form>

<br>
<a href="/people">Return to list</a>

{% endblock content %}

{% block script %}
<script src=" {% static 'javascript/form.js' %}"></script>
{% endblock script %}