* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    height: 80px;
    background-color: rgb(20, 117, 141);
    color: white;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
}

.btn, .btn-submit, .btn-get-name, .btn-delete, .btn-search, .btn-new-person {
    cursor: pointer;
    color: white;
    padding: 7px 15px;
    border-radius: 4px;
}

.btn-search {
    background-color: rgb(79, 108, 238);
}

.btn-submit, .btn-new-person {
    background-color: rgb(11, 189, 20);
}

.btn-get-name {
    background-color: rgb(211, 255, 52);
    color: black;
}

.btn-delete{
    background-color: rgb(248, 41, 41);
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

table,
th,
td,
tr {
    width: auto;
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 7px 10px;
    text-align: center;
}

th {
    background-color: rgb(32, 144, 172);
}

.person:hover {
    background-color: rgb(126, 125, 125);
    cursor: pointer;
    color: white;
}

form {
    width: 30%;
    min-width: 330px;
}

form input, form textarea {
    display: block;
    width: 100%;
    height: 25px;
    padding: 4px;
    font-style: inherit;
    margin-bottom: 6px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-end;
    margin: 0 0 20px 0;
}

/*
.options > div:first-child {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
*/

.input_search{
    height: 33px;
    width: 250px;
    padding: 7px;
    font-style: inherit; 
}

form textarea {
    height: 50px;
}

footer {
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}
