{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
</head>

<body>
    <header>Hello, welcome to my project</header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <footer>
        <div>Control of people</div>
        <div>This project is a test to stage</div>
    </footer>
    {% block script %}{% endblock script %}
</body>

</html>