{% extends "people/base.html" %}
{% load static %}

{% block content %}
<h2>{{ message }}</h2>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}
    <div class="buttons">
        <button class="btn-submit" type="submit">Save</button>
        {% if type == 'new' %}
        <button class="btn-get-name" type="button">Generate Name</button>
        {% else %}
        <button data-id_person="{{ id_person }}" class="btn-delete" type="button">Delete</button>
        {% endif %}

    </div>
</form>

<br>
<a href="/people">Return to list</a>

{% endblock content %}

{% block script %}
<script src=" {% static 'javascript/form.js' %}"></script>
{% endblock script %}